$header-dim: calc(57px + 20px);
$main-h: calc(100% - $header-dim);

body {
    position: relative;
    //height: 700px;
    height: 100vh;
    //overflow: hidden;
    header {
        position: fixed;
        top: 0;
        bottom: 0;
        width: 100%;
        background-color: unset;
    }
    main {
        position: relative;
        //top: 7vh;
        top: $header-dim;
        overflow-y: auto;
        height: $main-h;
        .test-container {
            width: 100%;
            //height: 100%;
            margin-top: 20px;
            span {
                /*height: 400px*;*/
                width: 400px;
                background-color: darkcyan;
            }
        }


        .overflow-container {
            margin-top: 10px;
            height: 100%;
            width: 200px;
            &>p {
                height: 100%;
                //overflow-y: auto;
            }
        }
    }
}